* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #262626;
}

.container {
  width: 100%;
  max-width: 390px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 40px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

button {
  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  cursor: pointer;
}