<nav class="bottom-navbar" aria-label="하단 내비게이션">

  <!-- 홈 -->
  <a
    href="./Home.html"
    class="nav-item active"
    data-page="home"
    aria-current="page"
  >
    <img
      src="../assets/icons/nav-home.svg"
      alt=""
      class="nav-icon"
    />
    <span>홈</span>
  </a>

  <!-- 친구 -->
  <button
    type="button"
    class="nav-item"
    data-page="friends"
  >
    <img
      src="../assets/icons/nav-friends.svg"
      alt=""
      class="nav-icon"
    />
    <span>친구</span>
  </button>

  <!-- 선물함 -->
  <button
    type="button"
    class="nav-item"
    data-page="giftbox"
  >
    <img
      src="../assets/icons/nav-giftbox.svg"
      alt=""
      class="nav-icon"
    />
    <span>선물함</span>
  </button>

  <!-- 커뮤니티 -->
  <button
    type="button"
    class="nav-item"
    data-page="community"
  >
    <img
      src="../assets/icons/nav-community.svg"
      alt=""
      class="nav-icon"
    />
    <span>커뮤니티</span>
  </button>

  <!-- 마이 -->
  <button
    type="button"
    class="nav-item"
    data-page="my"
  >
    <img
      src="../assets/icons/nav-my.svg"
      alt=""
      class="nav-icon"
    />
    <span>마이</span>
  </button>

</nav>